/**
 * Fancy border around couple pic
 * ============
*/

.fancy-border {
    border: 25px solid #88374b;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  }
  
  body {
    background: #0B1319;
    text-align: center;
  }

  canvas{display:block}

  .header-couple-names {
    font-family: 'Norican', cursive;
    color: #f44336;
    font-size: 60px;
  }

  .custom-footer a {
    color: black;
  }
  ._pdimg ._pdmimg {
    max-width: 300%;
    min-height: 320px;
    cursor: pointer;
    justify-content: center
}


.temp{
    font-size: 20px;
    
}
._pdimg img {
    max-width: 310%;
    max-height: 500px;
    width: auto;
    height: auto;
    margin: auto
}

._pdimg {
    margin-left: 115px;
    position: relative
}
._flx {
  display: flex
}
._psthumb li ._flx {
  align-items: center
}
  .couples-title {
    font-family: 'Norican', cursive;
    color: #f44336;
    font-size: 60px;
  }
  
  .header-invitation-text {
    font-family: 'Bree Serif', serif;
    color: white;
  }

  .main-events-title {
    font-family: 'Bree Serif', serif;
    color: #ffffff;
  }
  
  .header-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

  .firworks-yellow {
    background: #ffbb33;
  }

  .card-up {
    width: auto;
    height: 100px;
    background: #B88846;
  }

  .couple-block {
    height: 570px;
    width: auto;
  }

  .google_map {
    height: 500px;
  }

  
iframe {
  height: 680px;
  width: 94%;
} 

  /* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .couples-title {
    font-size: 40px;
  }

  .header-couple-names {
    font-size: 30px;
  }

  .couple-block {
    height: auto;
    width: auto;
  }

  .main-event-margin {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  
  iframe {
    width: 82%;
    height: 225px;
  }
} 


  /* Medium devices (landscape tablets, 768px and up) */
  @media screen and (max-width: 768px) {
    iframe {
      width: 82%;
      height: 300px;
    }
  } 

/* couple card */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #2C3447;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h3,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h3,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h3 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}
/* couple card end */
/* countdown timer */
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
} 
/* countdown timer end */
/* timeline start */
.main-timeline{
  overflow: hidden;
  position: relative;
}
.main-timeline:before{
  content: "";
  width: 3px;
  height: 95%;
  background: #bcbcbc;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.main-timeline .timeline{
  width: 50%;
  float: left;
  padding: 10px 60px 10px 0;
  position: relative;
}
.main-timeline .timeline:before{
  content: "";
  width: 20px;
  height: 20px;
  background: #1bad1e;
  border: 2px solid #404256;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%) rotate(45deg);
}
.main-timeline .timeline:first-child:after,
.main-timeline .timeline:last-child:after{
  content: "";
  width: 14px;
  height: 14px;
  background: #bcbcbc;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  right: -7.5px;
}
.main-timeline .timeline:last-child:after{
  top: auto;
  bottom: -26px;
}
.main-timeline .timeline:last-child:nth-child(even):after{
  right: auto;
  left: -7px;
}
.main-timeline .timeline-content{
  display: block;
  padding: 0 0 0 140px;
  position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 1;
  transform: translateY(-50%);
}
.main-timeline .timeline-icon:after{
  content: "";
  width: 100%;
  height: 100%;
  background: #43A047;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(45deg);
}
.main-timeline .description{
  font-size: 14px;
  color: #fff;
  padding: 15px 20px;
  margin: 0 0 5px 0;
  background: #43A047;
  position: relative;
}
.main-timeline .description:before{
  content: "";
  width: 15px;
  height: 15px;
  background: #43A047;
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%) rotate(45deg);
}
.main-timeline .timeline:nth-child(2n){ padding: 10px 0 10px 60px; }
.main-timeline .timeline:nth-child(2n):before{
  right: auto;
  left: -10px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{ padding: 0 140px 0 0; }
.main-timeline .timeline:nth-child(2n) .timeline-icon{
  left: auto;
  right: 25px;
}
.main-timeline  .timeline:nth-child(2n) .description:before{
  left: auto;
  right: -8px;
}
.main-timeline .timeline:nth-child(2){ margin-top: 100px; }
.main-timeline .timeline:nth-child(odd){ margin: -100px 0 30px 0; }
.main-timeline .timeline:nth-child(even){ margin-bottom: 80px; }
.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){ margin: 0 0 30px 0; }
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon:after,
.main-timeline  .timeline:nth-child(2n) .description,
.main-timeline  .timeline:nth-child(2n) .description:before{ background: #f45464; }
.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .timeline-icon:after,
.main-timeline  .timeline:nth-child(3n) .description,
.main-timeline  .timeline:nth-child(3n) .description:before{ background: #15b9c8; }
.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .timeline-icon:after,
.main-timeline  .timeline:nth-child(4n) .description,
.main-timeline  .timeline:nth-child(4n) .description:before{ background: #ed9e03; }
@media only screen and (max-width: 767px){
  .main-timeline:before{
      height: 100%;
      top: 0;
      left: 13px;
      transform: translateX(0);
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:nth-child(2n):before{ left: 4px; }
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline:nth-child(odd){
      width: 100%;
      float: none;
      padding: 0 0 0 55px;
      margin: 15px 0 50px 0;
  }
  .main-timeline .timeline:first-child:after,
  .main-timeline .timeline:last-child:after{
      top: -13px;
      right: auto;
      left: 7px;
  }
  .main-timeline .timeline:last-child:after{
      top: auto;
      bottom: -28px;
  }
  .main-timeline .timeline:last-child:nth-child(even):after{
      right: auto;
      left: 7px;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(2n) .timeline-icon{
      left: 0;
      right: auto;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content{ padding: 0 0 0 100px; }
  .main-timeline  .timeline:nth-child(2n) .description:before{
      left: -8px;
      right: auto;
  }
}
@media only screen and (max-width: 480px){
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline:nth-child(odd){ padding: 0 0 0 45px; }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content{ padding: 0 0 0 80px; }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(2n) .timeline-icon{
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 25px;
  }
}

.main-event-icon{
  width: auto;
  height: auto;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.main-event-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* timeline End */
/* gallery */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1579 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1579 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1579 img {
  max-width: 100%;
  vertical-align: top;
  width: 100%;
}
.snip1579 figcaption {
  position: absolute;
  height: 96px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.75);
}

.snip1579 h6 {
  font-weight: 300;
  margin: 0;
  color: #ffffff;
}
.snip1579 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
}
.snip1579 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1579:hover figcaption,
.snip1579.hover figcaption {
  height: calc(85%);
}
/* gallery end */